.home {
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}

h1, .menu, .active {
    color: white;
}

h2, .subheader {
    color: #2974e4;
}

.subheader {
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
}

th {
    background-color: #2974e4;
    padding:10px;
    color: white;
}

.float-container {
    width: 100%;
    height: 130px;
}

.forms {
    width: 45%;
    float: left;
    padding: 20px;
    text-align: center;
}

#challenges {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.page-title {
    padding-top: 20px;
    width: 100%;
    text-align: center;
}



.flash_message {
    background-color: #FDD26E;
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
}

.flash_message:before {
  content:"";
  background-color:#FDD26E;
  position: absolute;
  height: 25px;
  width: 100000px;
  left: -10000px;
  z-index: -1;
}
