<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css')}}" type="text/css">

  </head>
  <body>

    <h1>Badges</h1>
    <h2>{{names[0]}}</h2>
    <img src={{images[0]}}>
    <h2>{{names[1]}}</h2>
    <img src={{images[1]}}>
    <h2>{{names[2]}}</h2>
    <img src={{images[2]}}>
    <h2>{{names[3]}}</h2>
    <img src={{images[3]}}>
    <h2>{{names[4]}}</h2>
    <img src={{images[4]}}>

  </body>
</html>