<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <link rel="stylesheet" href="{{ url_for('static', filename= '')}}" type="text/css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css')}}" type="text/css">


  </head>
  <body>

    <div class="header">
      <h1>Create a Challenge</h1>
    </div>

                    <th>Goals</th>
                    <th>Tags</th>

      <div class="create-challenge">        
        <form method="POST">
          <fieldset>
            <label for="name">Challenge Name:</label>
            <input type="text" name="name" required>
            <br>
            <br>

            <label>Exercise Type:</label>
            <br>
            <input list="exercise_type" name="exercise_type" required />
            <datalist id="exercise_type" name="exercise_type">
              {% for row in exercises['exercises'] %}
                    <option value={{ row['name'] }}> {{ row['name'] }} </option>
              {% endfor %}
            </datalist>
            <br>
            <br>
             <label for="description">Description:</label>
            <input type="text" name="description" required>
            <br>
            <br>
          <label for="duration">Duration:</label>
            <input type="number" pattern="/d+" name="duration" required>
          <br>
              <br>
          <label for="time_unit">Unit of Time:</label>
          <select name="time_unit" id="time_unit" required>
              <option value="months">Months</option>
              <option value="days">Days</option>
              <option value="hours">Hours</option>
              <option value="minutes">Minutes</option>
              <option value="seconds">Seconds</option>
            </select>
            <br>
            <br>
          <label for="goals">Goals:</label>
          <input type="text" name="goals[]" required>
          <input type="text" name="goals[]">
          <input type="text" name="goals[]">
            <br>
            <br>
            <label for="tags">Tags:</label>
            <input type="text" name="tags" required>
            <br>
            <br>
            <input type="submit" name='submit' value="Submit">
          </br>
          </fieldset>
        </form>
      </div>

  </body>
</html>