<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= '')}}" type="text/css">

  </head>
  <body>

    <div class="header">
      <h1>Participate in a Challenge</h1>
    </div>


        <h2 class="page-title">Search for Challenges by Tag</h2>
    </div>
    <div>
        <form action="/challenges/search>" method="GET">
            <input class="search-med" type="text" placeholder="Enter tag " />

        <h2 class="page-title">Search Challenge by exercise type</h2>
    </div>
    <div>
        <form action="/challenges/search>" method="POST">
            <input class="search-med" type="text" placeholder="Enter exercise type " />


            <button id="search-button" type="submit" value="Submit">
                Search
            </button>
        </form>
    </div>

    <section>


        <table id="challenges">

{#        <div>#}
{#            <h2 class="page-title">List of Available Challenges</h2>#}
{#        </div>#}
        <table id="medications">

            <caption>
                List of Available Challenges
            </caption>
            <thead>
                <tr>
                    <th>Challenge Name</th>
                    <th>Exercise Type</th>
                    <th>Challenge Description</th>
                    <th>Duration of exercise</th>
                    <th>Unit of Time</th>
                    <th>Goals</th>
                    <th>Tags</th>
                    <th>Participate</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>

                {% for row in content['challenges'] %}
                <tr>
                    <td>{{row['name']}}</td>
                    <td>{{row['exercise_type']}}</td>
                    <td>{{row['description']}}</td>
                    <td>{{row['goals']}}</td>
                    <td>{{row['duration']}}</td>
                    <td>{{row['time_unit']}}</td>
                    <td>{{row['goals']}}</td>
                    <td>{{row['tags']}}</td>
                    <td>

                        <form action="/challenges/{{row['id']}}" method="PUT">
                            <button class="alt-button" type="submit">Participate</button>
                        </form>
                    </td>
                    <td>
                        <form action="/challenges/{{row['id']}}" method="PATCH">
                            <button class="alt-button" type="submit"
                                >Edit</button>
                        </form>
                    </td>
                    <td>
                        <form action="/challenges/{{row['id']}}" method="DELETE">
                            <button class="alt-button" type="submit"
                                >Delete</button>

                        <form action="/challenges/<id>" method="PUT">
                            <button class="alt-button" type="submit" name="challenge_id"
                                value="{{ row['id'] }}">Participate</button>
                        </form>
                    </td>
                    <td>
                        <form action="/challenges/<id>" method="PATCH">
                            <button class="alt-button" type="submit" name="challenge_id"
                                value="{{ row['id'] }}">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form action="/challenges/<id>" method="DELETE">
                            <button class="alt-button" type="submit"
                                value="{{ row['id'] }}">Delete</button>

                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <br>



  </body>
</html>