<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css')}}" type="text/css">

  </head>
  <body>

    <div class="container">
      <div class="main">
        <div class="header">
          <h1>Fit Challenges</h1>
        </div>

        <div class="menu">
          <div class="navItem">
            <a href="/" class="active">Log Out</a>
          </div>
          <div class="navItem">
            <a href="/challenges/{{ user_name["id"] }}" class="active">View Challenges</a>
          </div>
          <div class="navItem">
            <a href="/home/{{user_name["id"]}}/challenge" class="active">Create Challenge</a>
          </div>
{#            Change the following href so that it is /home/{{ user_name["id"] }}#}
          <div class="active-page">
            <a href="/home/{{ user_name["id"] }}" class="active">Profile</a>
          </div>
        </div>
      </div>

      <div class="userhome">
        <div class="subheader">
          Welcome back, {{user_name["name"]}}
        </div>

        <form style="border:none; outline:0;" method="GET">
          <fieldset>
            <label style="font-size:18pt" for="search">Filter challenges based on keyword:</label>
            <input type="text" name="input">
            <input type="submit" name='search' value="Submit">
            <input name="Reset" type="submit" value="Refresh Page">

          </fieldset>
        </form>


        <div class="item">
          <b>Favorite Challenges</b>

          <!--Make this section loop to look through the database and create
          each block depending on how many challenges are labelled as favorites-->
          <div class="challenge">
            <div class="block">
              <div class="challenge-image">
              </div> <!-- Should include the challenge image -->
              <div class="challenge-name">Challenge Name</div>
            </div>

            <div class="block">
              <div class="challenge-image"></div> <!-- Should include the challenge image -->
              <div class="challenge-name">Challenge Name</div>
            </div>
          </div>
        </div>


        <div class="item">
          <b>Active Challenges</b>

          <!--Make this section loop to look through the database and create
          each block depending on how many chalenges are labelled as active-->
          <div class="challenge">
            <div class="block">
              <div class="challenge-image"></div> <!-- Should include the challenge image -->
              <div class="challenge-name">Challenge Name</div>
            </div>

            <div class="block">
              <div class="challenge-image"></div> <!-- Should include the challenge image -->
              <div class="challenge-name">Challenge Name</div>
            </div>

            <div class="block">
              <div class="challenge-image"></div> <!-- Should include the challenge image -->
              <div class="challenge-name">Challenge Name</div>
            </div>

          </div>
        </div>

        <div class="item">
          <b>Completed Challenges</b>

          <!--Make this section loop to look through the database and create
          each block depending on how many chalenges are labelled as completed-->
          <div class="challenge">
            <div class="block">
              <div class="challenge-image"></div> <!-- Should include the challenge image -->
              <div class="challenge-name">Challenge Name</div>
            </div>

            <div class="block">
              <div class="challenge-image"></div> <!-- Should include the challenge image -->
              <div class="challenge-name">Challenge Name</div>
            </div>
          </div>
        </div>

        <br>
        <div class="item">
          <a href="/badges/{{user_name["id"]}}">Badges</a>

          {% if challenges_completed <= 0:%}
          <p>You haven't earned any badges yet!</p>
        {%endif%}

          {% if challenges_completed >= 1:%}
            <div class="badge">
              <div class="badge-image">
                <img width = 45 height = 45 src="../static/images/badges/first.jpg">
              </div> 
              <div class="badge-name">Finished 1st Challenge!</div>
            </div>
          {%endif%}

          {% if challenges_completed >= 3:%}
          <div class="badge">
            <div class="badge-image">
              <img width = 45 height = 45 src="../static/images/badges/third.jpg">
            </div> 
            <div class="badge-name">Finished 3rd Challenge!</div>
          </div>          
        {%endif%}

        {% if challenges_completed >= 5:%}
        <div class="badge">
          <div class="badge-image">
            <img width = 45 height = 45 src="../static/images/badges/fifth.jpg">
          </div> 
          <div class="badge-name">Finished 5th Challenge!</div>
        </div>          
      {%endif%}

      {% if challenges_completed >= 10:%}
      <div class="badge">
        <div class="badge-image">
          <img width = 45 height = 45 src="../static/images/badges/tenth.jpg">
        </div> 
        <div class="badge-name">Finished 10th Challenge!</div>
      </div>          
    {%endif%}

    {% if challenges_completed >= 15:%}
    <div class="badge">
      <div class="badge-image">
        <img width = 45 height = 45 src="../static/images/badges/fifteenth.jpg">
      </div> 
      <div class="badge-name">Finished 15th Challenge!</div>
    </div>          
  {%endif%}

        </div>
        


      </div>

  </div>




  </body>
</html>